// colors
$primary: #2d4875;
$secondary: #7693af;
$seaBlue: #f6fafb;

$white: #fff;
$black: #000;
$grey-light: #acc1d1;
$green-light-30: #fafdfd;
$green-light: #12b36c;
$green-dark: #12b36c66;
$pink-dark: #E51E56;
/* fontsizes */
$default-font-sm: 1.4rem;
$default-font-mid: 1.6rem;
$default-font-lg: 2.4rem;

$default-font-family: "Inter", sans-serif;

$thin-blue-border: 1px solid rgba(45, 72, 117, 0.24);
