@import "../../sass/main.scss";

.bodyWrapper {
  @include flexmiddle;
  width: 100%;

  .innerWrapper {
    // border: 1px solid red;
    width: 100%;
    position: relative;
    min-height: 700px;
    margin: 20px 0;
    display: flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;

    .inner {
      min-height: 200px;
      position: absolute;
      min-width: 351px;
      background-color: #fff;
      z-index: 2;
      box-shadow: 0px 4px 16px 2px rgba(0, 0, 0, 0.05);
      border-radius: 25px;
      padding: 1rem 1.5rem;
      border: 1px solid rgba(0, 0, 0, 0.12);
      transform: translateX(-5%);
      -webkit-transform: translateX(-5%);
      animation: slide-in 2s forwards;

      @keyframes slide-in {
        100% {
          transform: translateX(50%);
        }
      }

      @-webkit-keyframes slide-in {
        100% {
          -webkit-transform: translateX(50%);
        }
      }

      .header {
        position: relative;
        height: 65px;

        .progressBar {
          color: rgba(0, 0, 0, 0.37);
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
        }

        svg {
          position: absolute;
          right: 0;
          top: 10px;
          transform: translateX(-100%);
          -webkit-transform: translateX(-100%);
          animation: slide-in 2s forwards;
          @keyframes slide-in {
            100% {
              transform: translateX(0%);
            }
          }

          @-webkit-keyframes slide-in {
            100% {
              -webkit-transform: translateX(0%);
            }
          }
        }
      }

      .textBody {
        position: relative;
        margin: 0 5px;

        .question {
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          color: rgba(0, 0, 0, 0.62);
        }

        .options {
          position: relative;

          .singleOption {
            cursor: pointer;
            background: rgba(217, 217, 217, 0.2);
            border-radius: 20px;
            margin: 17px 0;
            padding: 10px 18px;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: rgba(0, 0, 0, 0.62);

            input[type="radio"] {
              visibility: hidden;
              position: absolute;
              width: 100%;
            }

            label {
              cursor: pointer;
            }

            &:hover {
              filter: brightness(0.8);
              @media screen and (max-width: 750px) {
                filter: unset;
              }
            }

            &.active {
              color: #fff;
              background: #3dc6be;
              filter: unset;
            }
          }
          .other {
            text-align: center;
            display: flex;
            flex-direction: column;
            textarea {
              padding: 10px;
              outline: none;
              border: 1px solid rgba(0, 0, 0, 0.12);
              color: rgba(0, 0, 0, 0.62);
              border-radius: 10px;
            }
            button {
              border: 1px solid $primary;
              width: 50%;
              margin: 10px auto;
              border-radius: 5px;
              padding: 10px;
              &:disabled {
                color: #ddd;
                border: 1px solid #ddd;
                cursor: not-allowed;
              }
              &:hover:not(:disabled) {
                background: $primary;
                color: #fff;
              }
            }
          }
        }
      }
    }

    .inner1 {
      height: 200px;
      position: absolute;
      min-width: 314px;
      background-color: #fff;
      z-index: 1;
      box-shadow: 0px 4px 16px 2px rgba(0, 0, 0, 0.05);
      border-radius: 18px;
      border: 1px solid rgba(0, 0, 0, 0.12);
      transform: translateX(15%);
      -webkit-transform: translateX(15%);
      animation: slide-in 2s forwards;
      display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 150px;
      .fakeQuestion {
  background: rgba(217, 217, 217, 0.2);
        width:95%;
        height: 30px;
      margin-bottom: 17px;
      border-radius: 20px;
      }
      
      @keyframes slide-in {
        100% {
          transform: translateX(0%);
        }
      }
      
      @-webkit-keyframes slide-in {
        100% {
          -webkit-transform: translateX(0%);
        }
      }
    }

    .inner2 {
      height: 200px;
      position: absolute;
      min-width: 266px;
      box-shadow: 0px 4px 16px 2px rgba(0, 0, 0, 0.05);
      border-radius: 25px;
      border: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
}
