@import "../../../../sass/main.scss";

.container {
  @include flexmiddle;
  vertical-align: bottom;
  padding: 2rem;

  .wrapper {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    .headerRow {
      @include flexspacebtw;
      color: rgba(0, 0, 0, 0.62);
      width: 100%;

      .left {
        span {
          color: rgba(0, 0, 0, 0.37);
        }
      }

      .right {
        display: flex;
        align-items: center;

        svg {
          margin-right: 8px;
        }
      }
    }
  }
}
.age {
  color: rgba(0, 0, 0, 0.37);
}

.breakScreen {
  text-align: center;
  margin: 60px 0;
  color: rgba(0, 0, 0, 0.62);

  img {
    margin-bottom: 50px;
    margin-top: 40px;
  }

  button {
    border: 1px solid $main-accent;
    width: 50%;
    margin: 50px auto;
    border-radius: 5px;
    padding: 10px;
    background: $main-accent;
    color: #fff;
    border-radius: 28px;
    transition: 0.3s;

    &:hover {
      background: #fff;
      color: $main-accent;
    }
  }
}
