@import "../../sass/main.scss";

.container {
    @include flexmiddle;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;

    h1 {
        color: $header-grey;
    }
}

.vibeCheckBtn {
    @include flexmiddle;
    width: 245px;
    height: 60px;
    background: $main-accent;
    border-radius: 28px;
    color: white; 
    border: 1px solid $main-accent;
}

.profilePreview {
    color: $link-grey; 
}