@import "../../sass/main.scss";

.container {
  @include flexmiddle;
  height: 926px;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;

  .spacer {
    flex-grow: 1;
  }

  h1 {
    color: $header-grey;
    font-size: $default-font-lg;
    font-weight: 600;
    margin-top: 45px;
    padding-bottom: 10px;
  }

  a {
    font-size: $default-font-sm;
  }
}

.imgWrapper {
  background-image: url("../../assets/profile-picture-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 430px;
  margin: 20px 0;
}

.divider {
  width: 294px;
  height: 3px;
  left: 67px;
  top: 592px;
  background: rgba(217, 217, 217, 0.27);
}

.vibeCheckBtn {
  @include flexmiddle;
  @include primaryBtnStyle;
  font-weight: 600;
  margin-top: 50px;
}

.resultsBtn {
  @include flexmiddle;
  @include primaryBtnStyle;
  background-color: white;
  border: 2px solid #f64900;
  color: #f64900;
  font-weight: 600;
  margin-top: 50px;
}

.profilePreview {
  color: $link-grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  margin-top: 95px;

  img {
    padding-left: 7px;
  }
}
