@import "../../sass/main.scss";

.container {
  @include flexmiddle;
  height: 100vh;
  width: 100%;

  svg {
  animation: rotate 0.9s linear infinite;
    color: $primary;
    position: absolute;
  }
    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
    
      to {
        transform: rotate(360deg);
      }
    }
}

.containerInline {
  display: inline-block;

  svg {
    animation: rotate 0.9s linear infinite;
    color: $secondary;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
